/*
Color Scheme 
Main Blue #293b4e
Accent Gold #f2daa6
Font Gold #c49e4e
*/

.contents {
    background-color: #334961;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.title-description {
    color: #c49e4e;
    font-size: 20px;
    text-align: center;
    margin: 0px;
}

body {
    background-color: #293b4e;
}

.title {
    color: #f2daa6;
    font-size: 100px;
    text-decoration: underline;
}

.links {
    list-style-type: none;
    font-size: 30px;
    padding-bottom: 10px;
    color: #f2daa6;
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 20px;
}

.recipe-content {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.waffle-img {
    height: 300px;
    width: 500px;
}

.toast-img {
    height: 400px;
    width: 400px;
}

.recipe-title {
    color: #f2daa6;
}

.recipe-description {
    color: #c49e4e;
}

.recipe-ingredients {
    color: #f2daa6;
}

.recipe-ingredient-list {
    color: #c49e4e;
}

.recipe-directions {
    color: #f2daa6;
}

.recipe-direction-list {
    color: #c49e4e;
}

.recipe-homepage {
    font-size: 20px;
    color: #c49e4e
}

a.nav-link:link
{
    color: #c49e4e;
    text-decoration: none;
}
a.nav-link:visited
{
    color: #c49e4e;
    text-decoration: none;
}
a.nav-link:hover
{
    color: #c49e4e;
    text-decoration: none;
}
a.nav-link:active
{
    color: #c49e4e;
    text-decoration: none;
}

.footer {
    text-align: center;
    margin-top: 15px;
}

.credit {
    color: #c49e4e;
    font-size: 14px;
}